This is an example on how to create a dataframe in pandas with 4 columns and 100 rows. 
The data is randonmly generated and the column names are assigned as A, B, C, and D

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [5]:
df.head()

    A   B   C   D
0  83  99  28  23
1  49  66  59  79
2  63  50  84  10
3  24  69  35  29
4  61  42  99  96

In [7]:
# Counting how many values on each row are higher than the values of column D. 
# In this case, 3 is the maximum as there are only three colomns more than D
df['Count'] = df[[ 'A','B','C']].ge(df['D'],axis=0).sum(axis=1)
df

     A   B   C   D  Count
0   83  99  28  23      3
1   49  66  59  79      0
2   63  50  84  10      3
3   24  69  35  29      2
4   61  42  99  96      1
5   88  33  61  44      2
6   75  67  95  38      3
7   57  19  63   4      3
8    5  33  30  16      2
9   41  73  52  83      0
10  51  18  39  44      1
11  57  54  82  38      3
12  62  62  97  28      3
13  68  90  92  77      2
14  97   8  85  66      2
15  37  88  40  47      1
16  12  39  69  74      0
17  79   0  80  35      2
18  95  11  86  87      1
19  80  58  61  11      3
20  31  13  18  11      3
21   3   4  47  79      0
22  99  38  45  36      3
23  82  89  59  55      3
24  33   0  44  46      0
25  47  54  31  20      3
26  80  23  42   6      3
27  26  15  69  99      0
28  57  23  81  58      1
29  94  75  28  52      2
..  ..  ..  ..  ..    ...
70  28  66  66  37      2
71  23   9  53   9      3
72  88  54  57  10      3
73  79  99  26  31      2
74  94  57  36  71      1
75  37  11  20   7      3
76  89  92  55  45      3
77  88  26  15  89      0
78  93  39  13  33      2
79  18  45  83  78      1
80  77  77  54  35      3
81  65  96  44  35      3
82   4  63  59  28      2
83  43  75  41  57      1
84  66  76  34  80      0
85  22  42  96  29      2
86  18  92  51  12      3
87  43  10  52  18      2
88  55  24  62  64      0
89  28  36  15  99      0
90  35   8  96  17      2
91  63   9  34  63      1
92  59  58  78  52      3
93  21  75  12  34      1
94  14  77   1   8      2
95  12  64  32   5      3
96  78  55  37  18      3
97  73  25   0   9      2
98   0  41  86  76      1
99  91  20  28  93      0

[100 rows x 5 columns]