In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

date_1 = datetime(2017,3,4).date()
days = pd.date_range(date_1, date_1 + timedelta(days = 200), freq='D')
np.random.seed(seed=1111)
data = np.random.randint(1, high=100, size=len(days))
df = pd.DataFrame({'date': days, 'number': data})
df = df.set_index('date')
display(df)

            number
date
2017-03-04      29
2017-03-05      56
2017-03-06      82
2017-03-07      13
2017-03-08      35
2017-03-09      53
2017-03-10      25
2017-03-11      23
2017-03-12      21
2017-03-13      12
2017-03-14      15
2017-03-15       9
2017-03-16      13
2017-03-17      87
2017-03-18       9
2017-03-19      63
2017-03-20      62
2017-03-21      52
2017-03-22      43
2017-03-23      77
2017-03-24      95
2017-03-25      79
2017-03-26      77
2017-03-27       5
2017-03-28      78
2017-03-29      41
2017-03-30      10
2017-03-31      10
2017-04-01      88
2017-04-02      19
...            ...
2017-08-22      86
2017-08-23      36
2017-08-24      59
2017-08-25      76
2017-08-26       7
2017-08-27       1
2017-08-28      40
2017-08-29      16
2017-08-30      49
2017-08-31      51
2017-09-01      33
2017-09-02      16
2017-09-03      50
2017-09-04       8
2017-09-05      40
2017-09-06      10
2017-09-07      58
2017-09-08      32
2017-09-09       3
2017-09-10      81
2017-09-11      15
2017-09-12      72
2017-09-13      23
2017-09-14      79
2017-09-15      89
2017-09-16      40
2017-09-17      47
2017-09-18      54
2017-09-19      10
2017-09-20      21

[201 rows x 1 columns]

In [2]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

date_today = datetime.now().date()
ndays = 200
df = pd.DataFrame({'date': [date_today - timedelta(days=x) for x in range(ndays)], 
                   'number': pd.Series(np.random.randn(ndays))})
df=df.set_index('date')
df

              number
date
2019-02-01 -1.097486
2019-01-31 -0.714620
2019-01-30  1.267474
2019-01-29  0.436277
2019-01-28 -0.009781
2019-01-27  0.653139
2019-01-26  1.215531
2019-01-25 -0.836807
2019-01-24  0.820231
2019-01-23 -1.482033
2019-01-22 -0.566709
2019-01-21 -0.364108
2019-01-20  0.316606
2019-01-19  0.490147
2019-01-18 -1.065438
2019-01-17  0.048248
2019-01-16 -0.075391
2019-01-15 -0.024224
2019-01-14  0.939873
2019-01-13 -0.159495
2019-01-12  0.978377
2019-01-11 -0.031033
2019-01-10  0.695915
2019-01-09  1.249824
2019-01-08  0.424806
2019-01-07  0.717207
2019-01-06 -0.843930
2019-01-05  1.032725
2019-01-04  0.813056
2019-01-03  2.279644
...              ...
2018-08-15 -1.650802
2018-08-14  1.222293
2018-08-13  0.394314
2018-08-12  0.357708
2018-08-11 -0.403198
2018-08-10  0.793354
2018-08-09  0.140085
2018-08-08  2.289953
2018-08-07 -0.134364
2018-08-06  0.310891
2018-08-05  0.277638
2018-08-04  0.063343
2018-08-03  0.186644
2018-08-02  1.435151
2018-08-01  0.233958
2018-07-31  0.325159
2018-07-30 -0.434526
2018-07-29 -0.438635
2018-07-28  1.783898
2018-07-27 -0.470223
2018-07-26  0.367429
2018-07-25 -0.699045
2018-07-24  0.464175
2018-07-23  0.754724
2018-07-22 -1.391968
2018-07-21  0.381884
2018-07-20 -0.151551
2018-07-19 -0.868475
2018-07-18 -0.408199
2018-07-17  0.336757

[200 rows x 1 columns]

In [4]:
df.iloc[df.index.get_loc(datetime(2017,9,12),method='nearest')]

number    0.336757
Name: 2018-07-17, dtype: float64